                <dangerousGoodsDeclaration>{{! cancel nog implementeren, let op xquery daar}}
                    {{#containsBulk}}
                    <dangerousGoodsNotificationType>89T</dangerousGoodsNotificationType>
                    {{/containsBulk}}
                    {{^containsBulk}}
                    <dangerousGoodsNotificationType>89N</dangerousGoodsNotificationType>
                    {{/containsBulk}}
                    <transportDetails>
                        <arrivalDateTimeEstimated>{{visitDeclaration.portVisit.etaPort}}</arrivalDateTimeEstimated>
                        <callReferenceNumber>{{crn}}</callReferenceNumber>
                        <conveyanceReferenceNumber>{{#chopToSize}}{{visitDeclaration.arrivalVoyage.voyageNumber}}|17{{/chopToSize}}</conveyanceReferenceNumber>
                        <modeOfTransport>1</modeOfTransport>{{! default}}
                        <departureDateTimeEstimated>{{visitDeclaration.portVisit.etdPort}}</departureDateTimeEstimated>
                        <portOfCall>{{portOfCall.port.locationUnCode}}</portOfCall>
                        <transportMeansId>{{vessel.name}}</transportMeansId>
                        <transportMeansIdIdentification>{{vessel.imoCode}}</transportMeansIdIdentification>
                        <transportMeansNationalityCoded>{{vessel.flagCode}}</transportMeansNationalityCoded>
                        <vesselIdentification>{{#chopToSize}}{{vessel.radioCallSign}}|7{{/chopToSize}}</vesselIdentification>
                    </transportDetails>
                    {{#sender}}
                    <sender>
                        <cityName>{{#chopToSize}}{{city}}|35{{/chopToSize}}</cityName>
                        <countryCoded>{{countryUnCode}}</countryCoded>
                        <partyIdentification>{{#chopToSize}}{{portAuthorityId}}|35{{/chopToSize}}</partyIdentification>
                        <partyName>{{#chopToSize}}{{fullName}}|35{{/chopToSize}}</partyName>
                        <postcodeIdentification>{{#chopToSize}}{{zipCode}}|35{{/chopToSize}}</postcodeIdentification>
                        <street>{{#chopToSize}}{{address}}|70{{/chopToSize}}</street>
                        <contact>
                            <contactName>{{#chopToSize}}{{contact}}|35{{/chopToSize}}</contactName>
                            <phoneNumber>{{#chopToSize}}{{phoneNumber}}|100{{/chopToSize}}</phoneNumber>
                            <faxNumber>{{#chopToSize}}{{faxNumber}}|100{{/chopToSize}}</faxNumber>
                            <emailAddress>{{#chopToSize}}{{emailAddress}}|512{{/chopToSize}}</emailAddress>
                        </contact>
                    </sender>
                    {{/sender}}
                    {{#portOfCall.portAuthority}}
                    <receiver>
                        <cityName>{{#chopToSize}}{{city}}|35{{/chopToSize}}</cityName>
                        <countryCoded>{{countryUnCode}}</countryCoded>
                        <partyIdentification>{{#chopToSize}}{{portAuthorityId}}|35{{/chopToSize}}</partyIdentification>
                        <partyName>{{#chopToSize}}{{fullName}}|35{{/chopToSize}}</partyName>
                        <postcodeIdentification>{{#chopToSize}}{{zipCode}}|35{{/chopToSize}}</postcodeIdentification>
                        <street>{{#chopToSize}}{{address}}|70{{/chopToSize}}</street>
                        <contact>
                            <contactName>{{#chopToSize}}{{contact}}|35{{/chopToSize}}</contactName>
                            <phoneNumber>{{#chopToSize}}{{phoneNumber}}|100{{/chopToSize}}</phoneNumber>
                            <faxNumber>{{#chopToSize}}{{faxNumber}}|100{{/chopToSize}}</faxNumber>
                            <emailAddress>{{#chopToSize}}{{emailAddress}}|512{{/chopToSize}}</emailAddress>
                        </contact>
                    </receiver>
                    {{/portOfCall.portAuthority}}
                    {{#sender}}
                    <cargoHandlingAgent>
                        <cityName>{{#chopToSize}}{{city}}|35{{/chopToSize}}</cityName>
                        <countryCoded>{{countryUnCode}}</countryCoded>
                        <partyIdentification>{{#chopToSize}}{{portAuthorityId}}|35{{/chopToSize}}</partyIdentification>
                        <partyName>{{#chopToSize}}{{fullName}}|35{{/chopToSize}}</partyName>
                        <postcodeIdentification>{{#chopToSize}}{{zipCode}}|35{{/chopToSize}}</postcodeIdentification>
                        <street>{{#chopToSize}}{{address}}|70{{/chopToSize}}</street>
                        <contact>
                            <contactName>{{#chopToSize}}{{contact}}|35{{/chopToSize}}</contactName>
                            <phoneNumber>{{#chopToSize}}{{phoneNumber}}|100{{/chopToSize}}</phoneNumber>
                            <faxNumber>{{#chopToSize}}{{faxNumber}}|100{{/chopToSize}}</faxNumber>
                            <emailAddress>{{#chopToSize}}{{emailAddress}}|512{{/chopToSize}}</emailAddress>
                        </contact>
                    </cargoHandlingAgent>
                    {{/sender}}
                    {{#consignments}}
                    <consignment>
                        <consolidationItemNumber>{{-index}}</consolidationItemNumber>
                        <handlingInstructionCode>{{handlingType}}</handlingInstructionCode>
                        {{#subCarriageType}}
                        <meansOfTransportIdentification>yes</meansOfTransportIdentification>
                        <subCarriageType>{{.}}</subCarriageType>
                        {{/subCarriageType}}
                        <handlingDateTimeEstimated>{{handlingTime}}</handlingDateTimeEstimated>
                        {{#handling}}
                        <placeOfHandling>
                            <locationUnCode>{{portOfCall.port.locationUnCode}}</locationUnCode>
                            <relatedLocationUnCode>{{convertedBerthCode}}</relatedLocationUnCode>
                            <relatedLocationName>{{#chopToSize}}{{berthVisit.berth.name}}|70{{/chopToSize}}</relatedLocationName>
                        </placeOfHandling>
                        {{/handling}}
                        <portOfLoading>{{portOfLoading.locationUnCode}}</portOfLoading>
                        <portOfDischarge>{{portOfDischarge.locationUnCode}}</portOfDischarge>
                        <goodsItem>
                            <goodsItemNumber>1</goodsItemNumber>
                            {{#fluid}}
                            <selfContainedNumberOfPackages>0</selfContainedNumberOfPackages>
                            <selfContainedPackageTypeCode>VL</selfContainedPackageTypeCode>
                            <selfContainedPackageTypeName>BULK,LIQUID</selfContainedPackageTypeName>
                            {{/fluid}}
                            {{#solid}}
                            <selfContainedNumberOfPackages>1</selfContainedNumberOfPackages>
                            <selfContainedPackageTypeCode>VO</selfContainedPackageTypeCode>
                            <selfContainedPackageTypeName>BULK,SOLID</selfContainedPackageTypeName>
                            {{/solid}}
                            {{#stowage}}
                            <selfContainedNumberOfPackages>{{numberOfOuterPackages}}</selfContainedNumberOfPackages>
                            <selfContainedPackageTypeCode>{{outerPackageType.code}}</selfContainedPackageTypeCode>
                            <selfContainedPackageTypeName>{{#chopToSize}}{{outerPackageType.name}}|35{{/chopToSize}}</selfContainedPackageTypeName>
                            <notSelfContainedNumberOfPackages>{{numberOfInnerPackages}}</notSelfContainedNumberOfPackages>
                            <notSelfContainedPackageTypeCode>{{innerPackageType.code}}</notSelfContainedPackageTypeCode>
                            <notSelfContainedPackageTypeName>{{#chopToSize}}{{innerPackageType.name}}|35{{/chopToSize}}</notSelfContainedPackageTypeName>
                            {{/stowage}}
                            <hazardCodeIdentification>{{imoClass}}</hazardCodeIdentification>
                            <undgNumber>{{unCode}}</undgNumber>
                            {{#good.goodData}}
                            <gdsCode>{{gdsCode}}</gdsCode>
                            <imoCode>{{imoCode}}</imoCode>
                            {{#good.flashPoint}}
                            <shipmentFlashpoint>{{.}}</shipmentFlashpoint>
                            <shipmentFlashpointMeasureUnitQualifier>CEL</shipmentFlashpointMeasureUnitQualifier>
                            {{/good.flashPoint}}
                            <packingGroupCoded>{{good.goodData.packingGroup}}</packingGroupCoded>
                            <transportLimitedQuantity>{{stowage.transportInLimitedQuantity}}</transportLimitedQuantity>
                            <specifiedTechnicalName>{{#chopToSize}}{{name}}|350{{/chopToSize}}</specifiedTechnicalName>
                            <dangerousGoodsAdditionalInfo>{{#chopToSize}}{{good.remarks}}{{#blending}}{{#good.remarks}}; {{/good.remarks}}Added good: {{addedGoodName}}{{/blending}}|350{{/chopToSize}}</dangerousGoodsAdditionalInfo>
                            {{/good.goodData}}
                            {{#isMarinePollutant}}
                            <additionalDangerInfoType>P</additionalDangerInfoType>
                            {{/isMarinePollutant}}
                            <subsidiaryRisk>{{good.goodData.subsidiaryRisk}}</subsidiaryRisk>
                            {{#chemical}}
                            <viscosity>{{viscosity}}</viscosity>
                            <temperatureAtDischarge>{{heatingOrder}}</temperatureAtDischarge>
                            <criticalTemperature>{{criticalTemperature}}</criticalTemperature>
                            <meltingPoint>{{meltingPoint}}</meltingPoint>
                            {{/chemical}}
                            <marpolAnnex>{{marpolAnnex}}</marpolAnnex>
                            <marpolCategory>{{good.goodData.pollutionCategory}}</marpolCategory>
                            {{#stowage.netWeight}}
                            <nettWeight measurementUnit="KGM">{{#chopToSize}}{{roundedNetWeight}}|13{{/chopToSize}}</nettWeight>
                            {{/stowage.netWeight}}
                            <grossWeight measurementUnit="{{weightUnit}}">{{#chopToSize}}{{roundedWeight}}|13{{/chopToSize}}</grossWeight>
                            {{#stowage.netExplosiveMass}}
                            <explosiveNetWeight measurementUnit="KGM">{{#chopToSize}}{{roundedNetExplosiveMass}}|13{{/chopToSize}}</explosiveNetWeight>
                            {{/stowage.netExplosiveMass}}
                            <cleaningMethod>{{cleaningMethod}}</cleaningMethod>
                            <cleaningRemarks>{{#chopToSize}}{{cleaningRemarks}}|35{{/chopToSize}}</cleaningRemarks>
                            <washwaterDestination>{{washwaterDestination}}</washwaterDestination>
                            {{#stowage.radioactivity}}
                            <radionuclideName>{{#chopToSize}}{{good.radionuclide.name}}|70{{/chopToSize}}</radionuclideName>
                            <radioactivePackageCategory>{{packageCategory}}</radioactivePackageCategory>
                            <radioactiveIdentification>{{#chopToSize}}{{identification}}|70{{/chopToSize}}</radioactiveIdentification>
                            <radioactiveAdditionalInfo>{{#chopToSize}}{{remarks}}|70{{/chopToSize}}</radioactiveAdditionalInfo>
                            <radioactiveSafetyIndex>{{criticalSafetyIndex}}</radioactiveSafetyIndex>
                            <radioactiveIndexOfTransport>{{transportIndex}}</radioactiveIndexOfTransport>
                            {{#radioActivityView}}
                            <radioactivity measurementUnit="{{unit}}">{{normalizedLevel}}</radioactivity>
                            {{/radioActivityView}}
                            {{/stowage.radioactivity}}
                            {{#stowage.fumigation}}
                            <fumigationDate>{{fumigationTimestamp}}</fumigationDate>
                            <fumigationLocation>{{#chopToSize}}{{placeOfFumigation}}|35{{/chopToSize}}</fumigationLocation>
                            <fumigantName>{{fumigant}}</fumigantName>
                            {{#amount}}
                            <amountOfFumigant measurementUnit="PPM">{{.}}</amountOfFumigant>
                            {{/amount}}
                            <gasMeasuringEquipment>{{measurementEquipment}}</gasMeasuringEquipment>
                            {{/stowage.fumigation}}
                            <segregationInfo>{{#chopToSize}}{{good.segregationInformation}}|350{{/chopToSize}}</segregationInfo>
                            <splitGoodsPlacement>
                                {{#containerOrBreakBulk}}
                                {{#container}}
                                <equipmentNumber>{{stowageNumber}}</equipmentNumber>
                                <stowageLocation>{{position}}</stowageLocation>
                                {{/container}}
                                {{#breakBulk}}
                                <equipmentNumber>{{stowageNumber}}</equipmentNumber>
                                <stowageLocation>{{position}}</stowageLocation>
                                {{/breakBulk}}
                                {{/containerOrBreakBulk}}
                                {{^containerOrBreakBulk}}
                                <equipmentNumber>-</equipmentNumber>
                                <stowageLocation>{{stowage.stowageNumber}}</stowageLocation>
                                {{/containerOrBreakBulk}}
                                {{#stowage.numberOfOuterPackages}}
                                <numberOfColli>{{.}}</numberOfColli>
                                {{/stowage.numberOfOuterPackages}}
                                {{^stowage.numberOfOuterPackages}}
                                <numberOfColli>0</numberOfColli>
                                {{/stowage.numberOfOuterPackages}}
                                <grossWeight measurementUnit="{{weightUnit}}">{{roundedWeight}}</grossWeight>
                                <emptyContainerSpecification>{{emptyContainerSpecification}}</emptyContainerSpecification>
                            </splitGoodsPlacement>
                        </goodsItem>
                    </consignment>
                    {{/consignments}}
                </dangerousGoodsDeclaration>