<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
    <SOAP-ENV:Header/>
    <SOAP-ENV:Body>
        <ns3:sendMessageRequest xmlns:ns3="http://www.portbase.com/services/internal/emh_send_v6"
                                xmlns:ns2="http://www.portbase.com/services/internal/emh_common_v2">
            <ns3:emhHeaderSendMessage>
                <ns2:msgType>{{type}}</ns2:msgType>
                <ns2:msgFunction>{{goal}}</ns2:msgFunction>
                <ns2:senderOrgShortName>PORTINFOLINK</ns2:senderOrgShortName>
                <ns2:recipientOrgShortName>{{receiver}}</ns2:recipientOrgShortName>{{previousMessageReference}}
                <ns2:businessDataCorrelation>
                    <ns2:businessDataCorrelationId>{{processId}}</ns2:businessDataCorrelationId>{{responseQueue}}
                </ns2:businessDataCorrelation>{{messageReferenceType}}
            </ns3:emhHeaderSendMessage>
            <ns2:content>
{{payload}}
            </ns2:content>
        </ns3:sendMessageRequest>
    </SOAP-ENV:Body>
</SOAP-ENV:Envelope>